<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
</style>

html
{
    box-sizing: border-box;
    font-size:16px;
    
}
.header
{
    position: relative;
    width:100%;
    overflow: hidden;
    
      
    
}
.navbar
{
   
    display: flex;
    justify-content: center;
    padding: 20px 30px !important;
    position: absolute;
    background: white !important;
    z-index: 9;
    top:0px;
    width: 100%;
    
}


.navbar-nav li a
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color:#333;
    padding: 0 20px;
    margin: 0 20px;
    text-transform: uppercase;
}
.navbar-nav
{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    
}
.navbar-brand
{
    margin: 0 20px !important;
}

.navbar.sticky
{
    width:100%;
    position: fixed;
    background-color:white;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.35);
    animation-name: animationFade;
    animation-duration: 1s;
    animation-fill-mode:both;
}
@keyframes animationFade
{
    from{
        opacity: 0;
        -webkit-transform:translate3d(0, -100%, 0);
        transform:translate3d(0, -100%, 0);      
    }
    to
    {
       opacity: 1;
       -webkit-transform: none;
       -o-transform: none;
    }
}
.navbar.sticky a{
    color: #18191d;
/*--navbar--*/    
}
.main
{
   
    position: relative;
    overflow: hidden;
}
video#herovide
{
    width: 100%;
}
.bx-wrapper .social-icons a
{
    color:white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    padding-top: 5px;
    transition: all ease 1s;
    background: #000;
    border-radius: 0px; 
}
.bx-wrapper .social-icons a
{
    position: relative;
    bottom: 7px;
    
}
.vidContent{
    position: absolute;
    top:290px;
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    text-align: left;
}
.vidContent h1
{
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 2px;
    
}
.vidContent p
{
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 70%; 
}
#vidBtn
{
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    font-size:16px;
    padding: 15px 40px;
    border: none;
    background: white;
    color:#333;
    cursor: pointer;
    margin-top:18px;
    border-radius: 50px;
    animation: shadow-pulse 2s infinite;
    text-transform: uppercase;
    
    
}
#vidBtn:hover
{
    background:white;
    color:black;
    animation: none;
    text-decoration: none;
    
}
.social-icons a
{
    color: #333 !important;
    border: 4px solid white;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease 1s;
    margin-top: 40px;
    background: white !important;
}
ul.social-icons.list-inline
{
    text-align: center;
    margin-top: 22px;
}
.list-inline>li
{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    
}
@keyframes shadow-pulse
{
    0%
    {
        box-shadow: 0 0 0 0px rgba(0,0,0,0.2);
    }
    
    100%
    {
        box-shadow: 0 0 0 20px rgba(0,0,0,0.2);
    }

}
@media only screen and (max-width:1300px) {

    .navbar-nav li a
    {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        color:#333;
        padding: 0 20px;
        margin: 0 20px;
        text-transform: uppercase;
    }
    .navbar-brand img
    {   
        margin-bottom: 20px;
        height:20px;
    }
    
}
@media only screen and (max-width:1152px) {
    .navbar-nav li a
    {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
        color:#333;
        padding: 0 20px;
        margin: 0 20px;
        text-transform: uppercase;
    }
    .navbar-brand img
    {   
        margin-bottom: 18px;
        height:18px;
    }
}
@media only screen and (max-width:1024px) {
    .navbar-nav li a
    {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 13px;
        color:#333;
        padding: 0 20px;
        margin: 0 20px;
        text-transform: uppercase;
    }
    .navbar-brand img
    {   
        margin-bottom: 15px;
        height:15px;
    }
}

@media only screen and (max-width:950px)
{
    .navbar-nav li a
    {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        color:#333;
        padding: 0 20px;
        margin: 0 20px;
        text-transform: uppercase;
    }
    .navbar-brand img
    {   
        margin-bottom: 7px;
        height: 25px;
    }

}
@media only screen and (max-width:768px)
{
    .social-icons a
    {
        color: #333 !important;
        border: 4px solid white;
        width: 50px;
        height: 50px;
        line-height: 40px;
        font-size: 20px;
        display: inherit;
        text-align: center;
        border-radius: 50px;
        transition: all ease 1s;
        margin-top: 40px;
        background: white !important;
    }
    .social-icons
    {
        margin-right:30px;
    }

    .vidContent{
        position: absolute;
        top:160px;
        color: #f1f1f1;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .vidContent h1
    {
        font-family: 'Oswald', sans-serif;
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 2px;
        max-width: 90%;

    }
    .vidContent p
    {
        font-family: 'Roboto Condensed', sans-serif;
        max-width: 70%; 
    }
    #vidBtn
    {
        font-family: 'Roboto Condensed', sans-serif;
        display: inline-block;
        font-size:16px;
        padding: 15px 40px;
        border: none;
        background: white;
        color:#333;
        cursor: pointer;
        margin-top:18px;
        border-radius: 50px;
        animation: shadow-pulse 2s infinite;
        text-transform: uppercase;
        margin-right: 20px;


    }
}
@media only screen and (max-width:425px)
{
    .social-icons a
    {
        color: #333 !important;
        border: 4px solid white;
        width: 50px;
        height: 50px;
        line-height: 40px;
        font-size: 20px;
        display: inherit;
        text-align: center;
        border-radius: 50px;
        transition: all ease 1s;
        margin-top: 40px;
        background: white !important;
    }
    .social-icons
    {
        margin-right:30px;
    }

.vidContent{
    position: absolute;
    top:160px;
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.vidContent h1
{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 2px;
    max-width: 90%;

}
.vidContent p
{
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 70%; 
}
#vidBtn
{
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    font-size:16px;
    padding: 15px 40px;
    border: none;
    background: white;
    color:#333;
    cursor: pointer;
    margin-top:18px;
    border-radius: 50px;
    animation: shadow-pulse 2s infinite;
    text-transform: uppercase;


}
}